$orange: rgb(224, 116, 38);
$grey: rgb(238, 238, 238);
$darkgrey: rgb(179, 179, 179);
$gold: rgb(231, 187, 56);
$red: rgb(193, 81, 70);

$baseFontSize: 16;
$green: #1abc9c;
$yellow: #f1c40f;
/* $red: #c0392b;
 */$blue: #3498db;
/* $grey: #f2f2f2; */
