<form>
  <label>Search by Category:
    <select ng-model="categorySort">
      <option value=""></option>
      <option value="dark">dark</option>
      <option value="cold">cold</option>
      <option value="awesome">awesome</option>
      <option value="dry">dry</option>
      <option value="hot">hot</option>
      <option value="summer">summer</option>
      <option value="lucid">lucid</option>
      <option value="warm">warm</option>
      <option value="winter">winter</option>
      <option value="spring">spring</option>
    </select>
  </label>
  <label>Search by Name: <input type="search" ng-model="nameSearch"></label>
</form>
<a href="#/checkout" ng-click=checkout()><button class="checkout">Checkout | Bag: <span ng-show="cart.length >0">{{cart.length}} </span><ng-pluralize count="cart.length" when="{'0': 'Empty!', '1': 'item', 'other': 'items'}"></ng-pluralize></button></a>
<table >
<tr>
  <th>Tea</th>
  <th>Information</th>
  <th>       </th>
  <th><select ng-model="priceSort">
    <option value=""></option>
    <option value="-price">Highest</option>
    <option value="price">Lowest</option>
  </select></th>
</tr>
<tr ng-repeat="tea in teaData | filter: {name: nameSearch} | filter:{categories: categorySort} | orderBy:priceSort">
  <td><img class="icon" src="{{tea.imageUrl}}" ></td>
  <td class="information"><h4>{{tea.name}}</h4>  <span id="q">Quantity: </span>
    <p><span class="bold">Price: </span>{{tea.price | currency }}</p>
    <div class="caffeine-section">
      <h4>Caffeine</h4>
      mg/serving: {{tea.caffeineScale}}
      <caffeine-meter caffeinemg="tea.caffeineScale" id="tea._id"></caffeine-meter>
    </div>
    <p><span class="bold">Ingredients: </span>{{tea.ingredients}}</p>
    <p><span class="bold">Rating: </span>{{tea.rating}}</p>
    <p><span class="bold">In Stock? </span>{{tea.inStock | inStock}}</p>
   <p class="bold">Categories: </p> <ul ng-repeat="category in tea.categories"  class="bullet">
        <li><i class="fa fa-check-circle-o"></i> {{category}}</li>
      </ul>
  </td>
  <td>
    <select ng-model="quantity" class="qu">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
  </td>
  <td>
    <button class="addToBag" ng-click=addToBag(tea,quantity)>Add to Bag</button>
  </td>
</tr>
</table>
