<!DOCTYPE html>
<html lang="en" ng-app="meanTea">
  <head>
    <meta charset="UTF-8">
    <title>Mean Tea</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script type= "text/javascript" src="./javascripts/app.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="ng-cloak" ng-controller="getTeas">
    <header>Guaranteed Awesome!</header>
    <header><h1><em>Welcome to MEAN Tea!</em></h1></header>
    <nav><a href="">Home</a><a href="">About</a><a href="">Contact</a></nav>
    <form action="">
      <label>Search by Category:
        <select name="" id="">
          <option value=""></option>
          <option value="">dark</option>
          <option value="">cold</option>
          <option value="">awesome</option>
          <option value="">dry</option>
          <option value="">hot</option>
          <option value="">summer</option>
          <option value="">lucid</option>
          <option value="">warm</option>
          <option value="">winter</option>
          <option value="">spring</option>
        </select>
      </label>
      <label>Search by Name: <input type="search"></label>
    </form>
    <button>Checkout | Bag Empty!</button>
    <table >
    <tr>
      <th>Tea</th>
      <th>Information</th>
      <th></th>
      <th><select name="" id="">
        <option value=""></option>
        <option value="">Highest</option>
        <option value="">Lowest</option>
      </select></th>
    </tr>
    <tr ng-repeat="tea in teaData">
      <td><img class="icon" src="{{tea.imageUrl}}" ></td>
      <td class="information">{{tea.name}}  <span>Quantity: </span>
        <p>Price: {{tea.price | currency }}</p>
        <p>Caffeiene Scale: {{tea.caffeineScale}}</p>
        <p>Ingredients: {{tea.ingredients}}</p>
        <p>Rating: {{tea.rating}}</p>
        <p>In Stock? {{tea.inStock | inStock}}</p>
       <span>Categories: </span> <ul ng-repeat="category in tea.categories">
            <li>{{category}}</li>
          </ul>
      </td>
      <td>
        <select name="" id="">
          <option value="1"></option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
        </select>
      </td>
      <td>
        <button ng-click=addToBag()>Add to Bag</button>
      </td>
    </tr>
  </table>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
  <script type="text/javascript" src="./javascripts/services.js"></script>
  <script type="text/javascript" src="./javascripts/controllers.js"></script>
  <script type="text/javascript" src="./javascripts/filters.js"></script>
  </body>
</html>
